body {
    display: flex;
    margin: 0;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    margin: 3vh 5vw 1vh 5vw;
}

.header-content {
    display: flex;
    align-items: center;
    box-shadow: 0 3px 1px #c5c0be;
}

.header-image {
    padding: 1vh 0 1vh 1vw;
}

.header-image img{
    width: 65%;
}

.header-text {
    padding: 1vh 1vw 1vh 0;
    font-size: 5vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 4vh 8vw;
    color: #6b6b6b;
}

.nav a {
    justify-content: center;
    text-decoration: none;
    color: #6b6b6b;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1vh 5vw;
}

.news-image {
    display: flex;
}

.news-image img {
    width:100%;
    max-height: 370px;
    position: relative;
}

.news-image-text {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    margin: 0 1px;
    background-color: white;
    color: #6b6b6b;
    padding: 0 2vw;
}

.wrap-news-image {
    position: relative;
    flex: 2;
}

.top-news {
    color: #6b6b6b;
    padding: 0 1vw;
}

.top-news p.border-bottom {
    padding: 0.4em;
}

.top-news-head {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.top-news-head p {
    flex: 1;
}

.text-align-right {
    text-align: right;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-color: #f5e9e5;
}

.footer {
    display: flex;
    padding: 0 2vw 2vh 2vw;
    color: #6b6b6b;
    margin: 3vh 5vw 1vh 5vw;
    box-shadow: 0 3px 1px #c5c0be;
}

.footer div {
    padding-right: 3em;
}

.score-table {
    color: #6b6b6b;
    padding: 0 1vw;
}

table {
    width: 100%;
    border-collapse:collapse;
}

table tr td {
    text-align: center;
}

.weather-container {
    color: #6b6b6b;
    padding: 0 1vw;
}

.weather-container-tab{
    color: #6b6b6b;
    padding: 0 1vw;
    flex: 1;
    display: none;
}

.weather-today {
    display: flex;
}

.latest-news {
    display: flex;
}

.latest-news img {
    max-height: 105px;
    padding-right: 2vw;
}

.latest-news div h3 {
    margin-top: 0;
}

.top-news div.latest-news {
    padding: 2vh 0;
}

.dropbtn {
    padding: 16px;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

/*
Medimum screen (Tablet)
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .news-image-text {
        background-color: black;
        opacity: 0.9;
    }

    .news-image-text h1 {
        font-size: 1.1em;
    }

    .news-image-text h3 {
        font-size: 0.7em;
    }

    .weather-container-tab {
        display: block;
        font-size: 12px;
    }

    .weather-container {
        display: none;
    }

    .news-image-text {
        color: white;
    }

    .weather-container-tab h3, p{
        margin: 0;
    }

    .news-image img {
        max-height: 230px;
    }

    .top-news {
        padding: 2vh 1vw;
    }

    .score-table table tr th {
        background-color: #5e6a73;
        color: white;
        padding: 10px;
    }

    .score-table table tr:nth-child(odd){background-color: #f2f2f2;}
}

/*
Small screen (Mobile)
*/
@media (min-width: 320px) and (max-width: 767px) {
    .news-image-text {
        background-color: black;
        opacity: 0.9;
    }

    .news-image-text h1 {
        font-size: 1em;
    }

    .news-image-text h3 {
        font-size: 0.7em;
    }

    .news-image-text {
        color: white;
    }

    .dropdown {
        display: inline-block;
    }

    .header-content {
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    .score-table table tr th {
        background-color: #5e6a73;
        color: white;
        padding: 10px;
    }

    .score-table table tr:nth-child(odd){background-color: #f2f2f2;}
}